<form action="" method="post" name="add-key">
    {{key.hidden_tag()}}
    {% for field in key %}
    <p>
        {% if field.type != "CSRFTokenField" %}
        {{field.label}}:<br>
        {{field}}<br>
        {% for error in field.errors %}
        <span style="color: red;">[{{error}}]</span>
        {% endfor %}<br>
        {% endif %}
    </p>
    {% endfor %}
     {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <p><input type="submit" value="Confirm"></p>
</form>