<script type='text/javascript'>
        function reload_page() {
           location.reload();
        }
        setInterval("reload_page()", 5000);
 </script>
<div><strong>Poloniex Balance</strong></div>
<div><strong>{{user}}</strong></div>
<table border="10" id="id_table_cost" width="200" name="">
    <tr>
        <td>Coin</td>
        <td>Amount</td>
    </tr>
    {% for coin, amount in balances %}
    <tr>
        <td>{{coin}}</td>
        <td>{{amount}}</td>
    </tr>
    {% endfor %}
</table>