<script type='text/javascript'>
        function reload_page() {
           location.reload();
        }
        setInterval("reload_page()", 2000);
 </script>
<div><strong>Rates of Sales</strong></div>
<table border="20" id="id_table_cost" width="200" name="">
    <tr>
        <td>Coins</td>
        <td>BTC</td>
        <td>ETH</td>
        <td>XMR</td>
        <td>USDT</td>
        <td>Max Rate</td>
    </tr>
    {% for coin_key in rating %}
    <tr>
        <td>{{coin_key}}</td>
        <td>{{rating[coin_key]['BTC']}}</td>
        <td>{{rating[coin_key]['ETH']}}</td>
        <td>{{rating[coin_key]['XMR']}}</td>
        <td>{{rating[coin_key]['USDT']}}</td>
        <td>{{rating[coin_key]}}</td>
    </tr>
    {% endfor %}
</table>
