<form action="" method="post" name="registration">
    {{registr.hidden_tag()}}
    {% for field in registr %}
        <p>
            {% if field.type != "CSRFTokenField" %}
                Please enter your {{field.label}} <br>
                {{field}}<br>
            {% for error in field.errors %}
            <span style="color: red;">[{{error}}]</span>
            {% endfor %} <br>
            {% endif %}
        </p>
    {% endfor %}
    <p><input type="submit" value="Registrate"></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</form>